<body style="background-color: #82B1FE;">     
    <div class="max-w-sm w-full m-auto rounded p-5">
        <div class="w-60 mx-auto rounded-md mb-5">   
            <img class="" src="/img/astronauta.jpg" alt="" srcset="">
          <p class="text-center text-2xl">Meu IP</p>  
          <p class="text-xl pt-2">
          <a class="text-white">IP:</a> {{ip}}</p>
          <p class="text-xl">
          <a class="text-white">Cidade:</a> {{city}} - {{region}}</p>          
          <p class="text-xl">
          <a class="text-white">Operadora:</a> {{isp}}</p>
          <p class="text-xl">
          <a class="text-white">Pais:</a> {{country}} - {{countryCode}}</p>
        </div>
        <div class="">
            <p class="pt-4">
            Dados requisitados a API: <br>
            <a href="https://ip-client-remote.herokuapp.com/" class="text-white">
            https://ip-client-remote.herokuapp.com/
            </a>
            </p>
            <p class="pt-2">Tecnologias utilizadas: <br>
            <a href="https://nodejs.org/en/" class="text-white">
            NodeJS
            </a>
            <br>
            </p>
            <p class="pt-2">
            Frameworks: <br>
            Front-End: <a href="https://tailwindcss.com/" class="text-white">Tailwindcss.</a><br>
            Back-End: <a href="https://expressjs.com/pt-br/" class="text-white">Express</a>, 
            <a href="https://handlebarsjs.com/" class="text-white">Handlebars</a>,
            <a href="https://axios-http.com/docs/intro" class="text-white">Axios</a>.    
            </p>
            <p class="pt-4">
            Desenvolvido por 
            <a href="https://axios-http.com/docs/intro" class="text-fuchsia-800">Douglas Piero</a>.
            </p>       
        </div>
    </div>   
</body>